<h2>About Blocipedia</h2>

<h4>User Roles</h3>
<ul style="list-style-type:disc">
  <li>Guest (unsigned user)</li>
  	<ul>
  		<li>View public wikis</li>
  	</ul>

  <li>Standard (free account)</li>
  	<ul>
  		<li>Has all guest privileges</li>
  		<li>Create and edit any public wikis</li>
  		
  	</ul>
  <li>Premium (cost: $15.00)</li>
  	<ul>
  		<li>Has all standard user privileges</li>
  		<li>Create and edit their own private wiki</li>
  	</ul>  
  <li>Admin</li>
  	<ul>
  		<li>Assigned.</li>
  	</ul>  
</ul>  

<h4>Wiki Types</h3>
<ul style="list-style-type:disc">
  <li>Public</li>
  <li>Private</li>
</ul>  
