%h2 About Blocipedia
%h4 User Roles
%ul
	%li Guest (unsigned user)
	%ul 
		%li View public wikis
		%li Can sign up for a standard account
	%li Standard (free)
	%ul
		%li Has all guest privileges
		%li Create and edit any public wikis
		%li Can be a added as a collaborator to a private wiki and will be able to edit that wiki
		%li Can sign up for a premium account
	%li Premium (cost: $10.00)
	%ul
		%li Has all standard account privileges
		%li Create and edit any public wikis
		%li Change public to private wiki or vise-versa
		%li Add and remove wiki collaborators (standard or premium users)
		%li Can downgrade account to a standard account
		%li If account is downgraded private wikis will also be downgraded to public wikis
	%li Admin
	%ul 
		%li Assigned only
		%li Has all privileges

%h4 Wiki Types
%ul
	%li Public Wikis
	%ul
		%li Visible to all users
	%li Private Wikis
	%ul
		%li Visible to admins, the wiki creator, or wiki collaborators.


%br
%br 









