<h2>About Blocipedia</h2>

<h4>User Roles</h3>
<ul style="list-style-type:disc">
  <li>Guest (unsigned user)</li>
  	<ul>
  		<li>View public wikis</li>
      <li>Can sign up for a standard account</li>
  	</ul>

  <li>Standard (free account)</li>
  	<ul>
  		<li>Has all guest privileges</li>
  		<li>Create and edit any public wikis</li>
  		<li>Can be a added as a collaborator to a private wiki and will be able to edit that wiki</li>
      <li>Can sign up for a premium account</li>
  	</ul>
  <li>Premium (cost: $10.00)</li>
  	<ul>
  		<li>Has all standard user privileges</li>
  		<li>Create and edit their own private wiki</li>
      <li>Change public to private wiki or vise-versa</li>
      <li>Add and remove wiki collaborators (standard or premium users)</li>
      <li>Can downgrade account to a standard account</li>
      <li>If account is downgraded private wikis will also be downgraded to public wikis</li>
  	</ul>  
  <li>Admin</li>
  	<ul>
  		<li>Assigned only</li>
      <li>Has all privileges</li>
  	</ul>  
</ul>  

<h4>Wiki Types</h3>
<ul style="list-style-type:disc">
  <li>Public</li>
  <ul>
      <li>Visible to all users</li>
    </ul>
  <li>Private</li>
  <ul>
      <li>Visible to admins, the wiki creator, or wiki collaborators.</li>
    </ul>
</ul>  

