
 <tbody>
    <tr>
      <td><%= link_to markdown_to_html(private_wiki.title), private_wiki %></td>
      <%#= markdown_to_html(truncate(wiki.body, length: 25, separator: ' ')) %><!-- does not work here-->
      <% if policy(private_wiki).edit? %>
        <td><%= link_to "Edit", edit_wiki_path(private_wiki)  %></td>
      <td><%= link_to "Delete", wiki_path(private_wiki), method: :delete, data: {confirm: 'Are you sure you want to delete this wiki?'} if policy(private_wiki).destroy? %></td>
    <% end %>
      <td></td>
    </tr>
  </tbody>